 filter=lfs diff=lfs merge=lfs -text
*.MOV filter=lfs diff=lfs merge=lfs -text
ZIAK/*.MOV filter=lfs diff=lfs merge=lfs -text
kerchak/*.MOV filter=lfs diff=lfs merge=lfs -text
Kerchak/*.MOV filter=lfs diff=lfs merge=lfs -text
